%h1= t('application.edit_model', model: t('activerecord.modules.owner.one'))
= render "form", owner: @owner
%br/
%div

= link_to t('application.show'), @owner
\|
= link_to t('application.back'), owners_path